// Buttons background
$button-background--primary: $color--primary;
$button-background--primary_hover: $color--primary_dark;
$button-background--primary_active: $color--primary_light;

$button-background--secondary: $color--secondary;
$button-background--secondary_hover: $color--secondary_dark;
$button-background--secondary_active: $color--secondary_light;

$button-background--dark: $color--dark;
$button-background--dark_hover: $color--dark;
$button-background--dark_active: $color--dark;

$button-background--disabled: $color--secondary_dark;

// Buttons colors (if different from the inherited)
$button-color--primary: #fff;
$button-color--secondary: #000;

.c-button {
  font-size: 1.4rem;
  border-radius: 0.6rem;
  padding: 1.3rem 1.8rem;
  line-height: 1;
  font-weight: 700;
  display: inline-flex;
  text-align: center;
  user-select: none;
  outline: none;
  text-transform: uppercase;
  transition: 0.4s ease color, 0.4s ease background-color;

  @media print {
    display: none;
  }

  /**
    Inner elements
   */
  // Custom component container
  &__component{
    margin-right: 1.3rem;
  }
  // svgIcon
  &__svgIcon {
    margin-right: 0.6rem;
  }
  // Label
  &__label {

  }
}

/** by state **/
.c-button[disabled] {
  background: $button-background--disabled;
}

/** by color **/

// PRIMARY
.c-button--primary {
  background-color: $button-background--primary;
  color: $button-color--primary;

  &:hover {
    background-color: $button-background--primary_hover;
  }
}

// SECONDARY
.c-button--secondary {
  background-color: $button-background--secondary;
  color: $button-color--secondary;

  &:hover {
    background-color: $button-background--secondary_hover;
  }
}

// DARK
.c-button--dark {
  background-color: $button-background--dark;
  color: #fff;

  &:hover {
    background-color: $button-background--dark_hover;
  }
}

/** with image-icon **/
//.c-button {
//  &.c-button--with-image {
//    min-width: 200px;
//
//    .c-button__image {
//      margin-right: 10px;
//    }
//  }
//}
///** BY tipe **/
//.c-button--outlined {
//  border-radius: 15px;
//  box-shadow: 0 0 0 2px #312d3b inset;
//}
//


/** BUTTON WITH MULTIPLE VALUES **/
.c-button--multiple-values {
  position: relative;
  overflow: hidden;
  transition: .5s ease all;
  // fixed value (69px with 1.5em fsz)
  min-height: em-rel(6.9, 1.5);
  // each value
  .c-button__value {
    display: block;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
    margin: auto;
    line-height: 1;
    // fixed values
    width: 100%;
    height: 1em;

    &--hidden {
      transform: translateY(100%);
      opacity: 0;
      visibility: hidden;
    }
  }

  // toggled state
  &.c-button--toggled {
    /** BEM **/
    .c-button__value {
      &--visible {
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }

      &--hidden {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
