<div class="logo">
  <a class="logo__link" href="/">
      {% set type = 'logo-' + type if (type != 'normal') else "logo" %}
    <img src="{{ '/assets/images/' + type + '.png' | path }}" alt="">
  </a>
</div>

