<nav class="header-nav">
  <ul class="header-nav__menu">
    {% for item in nav %}
      <li class="header-nav__item">
        <a href="{{ item.href }}" class="header-nav__anchor {{ 'header-nav__anchor--with-icon'
        if item.icon }}">
        {% if item.icon %}
          {% render "@svg-use", item.icon, true %}
        {% endif %}
          <span class="header-nav__anchor-label">{{ item.label }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
