  {% if container %}
  <div class="hamburger-container">
  {% endif %}
    <div class="hamburger">
      <div class="hamburger__inner">&zwnj;</div>
    </div>
  {% if container %}
  </div>
  {% endif %}

