{% extends "@page" %}
{% block main %}
  {%- for section in sections -%}
    {% render "@" + section %}
  {%- endfor -%}
{% endblock %}

{# old #}
{#
{% extends "@page" %}
{% block main %}
  {%- for section in sections -%}
    {% if section.section %}
      {% render "@" + section.section, section.config %}
    {% else %}
      {% render "@" + section.component, section.config %}
    {% endif %}
  {%- endfor -%}
{% endblock %}
#}
