// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
// $fonts-base-path: '../fonts/';
//
// @function font($path) {
//   @return url($fonts-base-path + $path);
// }
/**
  TT Prosto Sans LIGHT
 */
@font-face {
  font-family: 'TT Prosto Sans';
  src: font('ProstoSans-Light.eot');
  src: font('ProstoSans-Light.eot?#iefix') format('embedded-opentype'),
  font('ProstoSans-Light.woff2') format('woff2'),
  font('ProstoSans-Light.woff') format('woff'),
  font('ProstoSans-Light.ttf') format('truetype'),
  font('ProstoSans-Light.svg#TTProstoSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
/**
  TT Prosto Sans NORMAL
 */
@font-face {
  font-family: 'TT Prosto Sans';
  src: font('ProstoSans.eot');
  src: font('ProstoSans.eot?#iefix') format('embedded-opentype'),
  font('ProstoSans.woff2') format('woff2'),
  font('ProstoSans.woff') format('woff'),
  font('ProstoSans.ttf') format('truetype'),
  font('ProstoSans.svg#TTProstoSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**
  TT Prosto Sans BOLD
 */
@font-face {
  font-family: 'TT Prosto Sans';
  src: font('ProstoSans-Bold.eot');
  src: font('ProstoSans-Bold.eot?#iefix') format('embedded-opentype'),
  font('ProstoSans-Bold.woff2') format('woff2'),
  font('ProstoSans-Bold.woff') format('woff'),
  font('ProstoSans-Bold.ttf') format('truetype'),
  font('ProstoSans-Bold.svg#TTProstoSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

